Repository radochm/prow-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-test-infra-validate-local, e2e

pre-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=config/prow/plugins.yaml
      - --config-path=config/prow/config.yaml

e2e:
  labels: null
  decorate: true
  spec:
    containers:
    - image: docker.io/radoslawc/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'ls
  
        pwd
  
        ls /satoken
  
        cat /satoken/satoken
  
        ls /home/prow/go/src/github.com/nephio-project/one-summit-22-workshop
  
  ...

Update .prow.yaml
  .prow.yaml
Due: none

Update E2E_instance.txt
  E2E_instance.txt
Due: e2e

Update variables.tf
  e2e/terraform/variables.tf
Due: none

key rework
  e2e/terraform/main.tf
  e2e/terraform/variables.tf
Due: none

satoken
  e2e/terraform/variables.tf
Due: none

Update gce_run.sh
  e2e/provision/gce_run.sh
Due: none

Create README.md
  e2e/README.md
Due: none

Update config.yaml
  config/prow/config.yaml
Due: pre-test-infra-validate-local

Update plugins.yaml
  config/prow/plugins.yaml
Due: pre-test-infra-validate-local

Update OWNERS
  OWNERS
Due: none

Update labels.yaml
  config/prow/labels.yaml
Due: none

one summit playbook preparation
  config/prow/labels.yaml
  e2e/provision/gce_run.sh
  e2e/terraform/main.tf
  e2e/terraform/output.tf
  e2e/terraform/variables.tf
Due: none

Create nephio.yaml
  e2e/provision/nephio.yaml
Due: none

Update main.tf
  e2e/terraform/main.tf
Due: none

Path conditions:
  pre-test-infra-validate-local: any of: ^config/prow/((plugins|config).yaml|jobs/)
  e2e: any of: E2E_instance.txt
